*{
  font-family: "微軟正黑體";
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.header {
    margin: 0;
}
.header h2{
  font-size: 36px;
}
.social-icons {
    font-size: 30px;
}
.contact-me {
    list-style: none;
    margin-top: 15%;
}
.contact-me li {
    display: inline-block;
    padding: 5px;
}

.carousel-inner img{
  margin: 0 auto;
}
.carousel-caption{
  color: white;
}
.carousel-caption h2{
  font-size: 4vw;
}
.carousel-caption p{
  font-size: 2vw;
}
.intro-block{
  padding: 30px 0;
}
.intro-circle{
  text-align: center;
  display: block;
  border: #00e6e6 solid;
  width: 140px;
  height: 140px;
  margin: 0 auto;
}
.intro-block .icons{
  font-size: 40px;
  margin-top: 22.5%;
}
.intro-block h3{
  margin-top: 5px;
  color: black;
}
.intro1 .glyphicon-user{
  color: #ffd11a;
}
.intro2 .fa-heart{
  color: #ff1a75;
}
.intro3 .glyphicon-list-alt{
  color: #47d147;
}
.page-end{
  width: 100%;
  background: #ffebcc;
  height: 250px;
}
.page-end{
  text-align: center;
}
.page-end ul{
  list-style: none;
  padding: 50px 0 0 0;
  font-size: 14px;
}
.copyright{
  font-weight: normal;
}
